<html>
  <head>
    <script src="js/jquery-1.7.1.min.js"></script> 
    <script src="js/underscore-min.js"></script> 
    <script src="js/ejs.min.js"></script>
    <script src="js/backbone-min.js"></script>
    
    <script src="lib/cpu_constants.js"></script> 
    <script src="lib/cpu.js"></script> 
    <script src="lib/scanner.js"></script> 
    <script src="lib/assembler.js"></script> 
    
    <script src="lib/cpu_view.js"></script> 
    
    <script type="text/template" id="debugger_template">
      <table border>
        <% for(var i=0;i<debug_info.length;i++) { %>
        <tr id='line_<%= i %>'>
          <td><%= zero_fill(debug_info[i].mem_pos.toString(16),4) %></td>
          <td><%= debug_info[i].code %></td>
          <td>
            <% for(var j=0;j<debug_info[i].byte_code.length;j++) { %> <%= zero_fill(debug_info[i].byte_code[j].toString(16),4) %>  <% } %>
          </td>
        </tr>
        <% } %>
      </table>
    </script>
    
    <script type="text/template" id="cpu_template">
      <table border>
        <tr>
          <td>PC</td><td><%= cpu.pc %></td>
          <td>Cycle</td><td><%= cpu.cycle %></td>
        </tr>
        <tr>
          <td>SP</td><td><%= cpu.sp %></td>
        </tr>
      </table>
      <table border>
        <tr>
          <% for(var i=0;i<cpu.registers_ordered.length;i++) { %>
            <td><%= cpu.registers_ordered[i] %></td>
          <% } %>
        <tr>
        <tr>
          <% for(var i=0;i<cpu.registers_ordered.length;i++) { %>
            <td>0x<%= cpu.registers[cpu.registers_ordered[i]].toString(16).toUpperCase() %></td>
          <% } %>
        <tr>
        <tr>
      </table>
      <table>
        <% for(var r=0;r<20;r++) { %>
        <tr>
          <td><%= zero_fill((r*8).toString(16),4) %>:</td>
          <% for(var c=0;c<8;c++) { %>
            <% var cur_index = (r*8)+c %>
            <% if(cur_index == cpu.pc) { %>
              <td id='current_pc'><%= zero_fill(cpu.memory[cur_index].toString(16),4) %></td>
            <% } else { %>
              <td><%= zero_fill(cpu.memory[cur_index].toString(16),4) %></td>
            <% } %>
          <% } %>
        </tr>
        <% } %>
      </table>
    </script>
    
    <script>
      var current_c=0;
      var c = null; 
    
      var step = function() {
        $('#line_'+current_c).css('backgroundColor', '');
        if(c==null) return;
        for(var i=0;i<c.debug_info[current_c].byte_code.length;i++) {
          cpu.step();
        }
        var tmp = 0;
        for(var i=0;i<c.debug_info.length;i++) {
          if(cpu.pc==c.debug_info[i].mem_pos) {
            current_c = i;
            break;
          }
        }
        $('#line_'+current_c).css('backgroundColor', 'yellow');
        show_cpu();
      };
      
      var stop_signal = false;
      var run_step = function() {
        step();
        if(!stop_signal) {
          setTimeout("run_step()",$('#run_delay').val());
        }
      }
    
      $( function() {
        cpu.reset();
        show_cpu();
        
        
        
        $('#step').click( function() {
          step();  
        });

        $('#reset').click( function() {
          current_c=0;
          cpu.reset();
          cpu.load(0,c.byte_code);
          show_cpu();
          
          $('#debugger').html(ejs.render($('#debugger_template').html(),{debug_info:c.debug_info}));
          $('#line_'+current_c).css('backgroundColor', 'yellow');
        });
        
        $('#compile').click( function() {
          current_c=0;
          cpu.reset();
          c = compile($('#source').val());
          cpu.load(0,c.byte_code);
          show_cpu();
          
          $('#debugger').html(ejs.render($('#debugger_template').html(),{debug_info:c.debug_info}));
          $('#line_'+current_c).css('backgroundColor', 'yellow');
        });

        $('#run').click( function() {
          stop_signal = false;
          run_step();
        });

        $('#stop').click( function() {
          stop_signal = true;
        });

        
        var test_asm = 'SET [0x30],0x40\nIFE [0x30],0x40\nloop: ADD B,1\nSET PC,loop';
        $('#source').val(test_asm);
        
      });
    </script>
    
  </head>
  <body>
    <table border>
      <tr>
        <td>
          <button id='compile'>compile</button>
        </td>
        <td width="300px">
          <button id='run'>run</button>
          <input type='text' value='500' id='run_delay' style='width:50px'/>
          <button id='stop'>stop</button>
          <button id='step'>step</button>
          <button id='reset'>reset</button>
        </td>
        <td>
        </td>
      <tr>
      <tr height="100%">
        <td width="300px">
          <textarea id='source' style="width:100%;height:100%"></textarea>
        </td>
        <td width="300px" valign="top">
          <div id="debugger"></div>
        </td>
        <td>
          <div id="cpu"></div>
        </td>
      </tr>
    </table>
  </body>
</html>