<!DOCTYPE html>
<html>
  <head>
  <style type="text/css">
    .code {
      font-family: Courier New;
    }
    #source {
      font-family: Courier New;
    }
    .memory_cell {
      font-size: 0.8em;
    }
    .label {
      font-weight:bold; 
    }
    .register_label {
      font-weight:bold;
      text-align:left;
      padding :0 0 0 0;
      margin:0 0 0 10;
    }
    .register_value {
      width:40px;
      text-align:right;
      padding :0 10 0 0;
      margin:0 0 10 0;
    }
  </style>


    <link type="text/css" href="style/css/ui-lightness/jquery-ui-1.8.18.custom.css" rel="stylesheet" />	
    <script src="js/jquery-1.7.1.min.js"></script> 
		<script type="text/javascript" src="style/js/jquery-ui-1.8.18.custom.min.js"></script>
    <script src="js/underscore-min.js"></script> 
    <script src="js/ejs.min.js"></script>
    <script src="js/backbone-min.js"></script>
    
    <script src="lib/cpu_constants.js"></script> 
    <script src="lib/cpu.js"></script> 
    <script src="lib/assembler.js"></script> 
    <script src="lib/deassembler.js"></script> 
    <script src="lib/debugger.js"></script> 
    <script src="lib/codestore.js"></script> 
    
    <script src="lib/cpu_view.js"></script> 

    <script type="text/template" id="code_list_template">
      <table cellspacing=0 width="100%" class='table_outer'>
        <% for(var i=0;i<codes.length;i++) { %>
        <tr>
          <td id='<%= codes[i].key %>'><%= codes[i].name %></td>
          <td><%= codestore.load('code',codes[i].name).split('\n')[0]   %></td>
        </tr>
        <% } %>
      </table>
    </script>
    
    <script type="text/template" id="debugger_template">
      <table id="debugger_source" class='code' cellspacing=0 width="100%">
        <% for(var i=0;i<lines.length;i++) { %>
        <tr id='<%= i %>'>
          <td width="20px" class='breakpoint' id='<%= lines[i].mem_pos %>'>
            <% if(breakpoints.indexOf(lines[i].mem_pos)!=-1) { %>
              <span class='ui-icon ui-icon-star'/>
            <% } else { %>
              <span/>
            <% } %>
          </td>
          <td width="0%"><%= zero_fill(lines[i].mem_pos.toString(16),4) %>:</td>
          <td><%= lines[i].txt %></td>
          <td>
            <% for(var j=0;j<lines[i].byte_code.length;j++) { %> <%= zero_fill(lines[i].byte_code[j].toString(16),4) %>  <% } %>
          </td>
        </tr>
        <% } %>
      </table>
    </script>
    
    <script type="text/template" id="cpu_template">
      <table>
        <tr>
          <td class="register_label">PC:</td><td class="register_value"><%= zero_fill(cpu.pc.toString(16),4) %></td>
          <td class="register_label">SP:</td><td class="register_value"><%= zero_fill(cpu.sp.toString(16),4) %></td>
          <td class="register_label">Cycle:</td><td class="register_value"><%= zero_fill(cpu.cycle,4) %></td>
        </tr>
        <tr>
          <td class="register_label">A:</td><td class="register_value"><%= zero_fill(cpu.registers.A.toString(16),4) %></td>
          <td class="register_label">B:</td><td class="register_value"><%= zero_fill(cpu.registers.B.toString(16),4) %></td>
          <td class="register_label">C:</td><td class="register_value"><%= zero_fill(cpu.registers.C.toString(16),4) %></td>
        </tr>
        <tr>
          <td class="register_label">X:</td><td class="register_value"><%= zero_fill(cpu.registers.X.toString(16),4) %></td>
          <td class="register_label">Y:</td><td class="register_value"><%= zero_fill(cpu.registers.Y.toString(16),4) %></td>
          <td class="register_label">Z:</td><td class="register_value"><%= zero_fill(cpu.registers.Z.toString(16),4) %></td>
        </tr>
        <tr>
          <td class="register_label">I:</td><td class="register_value"><%= zero_fill(cpu.registers.I.toString(16),4) %></td>
          <td class="register_label">J:</td><td class="register_value"><%= zero_fill(cpu.registers.J.toString(16),4) %></td>
          <td></td>
        </tr>
      </table>
      <table>
        <tr>
          <td colspan='9'></td>
        </td>
        <% for(var r=0;r<20;r++) { %>
        <tr>
          <td class='memory_cell label'><%= zero_fill((r*8).toString(16),4) %>:</td>
          <% for(var c=0;c<8;c++) { %>
            <% var cur_index = (r*8)+c %>
            <% if(cur_index == cpu.pc) { %>
              <td id='current_pc' class='memory_cell'><%= zero_fill(cpu.memory[cur_index].toString(16),4) %></td>
            <% } else { %>
              <td class='memory_cell'><%= zero_fill(cpu.memory[cur_index].toString(16),4) %></td>
            <% } %>
          <% } %>
        </tr>
        <% } %>
      </table>
    </script>
    
    <script>
      var dbg = new Debugger();
      var start_position = 0;
      
      var show_debugger = function() {
        $('#debugger').html(ejs.render($('#debugger_template').html(),{lines:dbg.deassembly.lines,breakpoints:dbg.breakpoints}));
        $('#debugger_source').find('tr#'+dbg.current_line).css('backgroundColor', 'wheat');
        $('td.breakpoint').click( function() {
          $(this).children('span').toggleClass('ui-icon').toggleClass('ui-icon-star');
          dbg.toggle_breakpoint(this.id);
        });
      };
   
      $( function() {
        show_cpu();
        
        $('#step').click( function() {
          dbg.step();
          show_cpu();
          show_debugger();
        });

        $('#reset').click( function() {
          dbg.reset();
          show_cpu();
          show_debugger();  
        });
        
        $('#compile').click( function() {
          dbg.load(start_position,$('#source').val());
          show_cpu();
          show_debugger();
        });

        $('#run').click( function() {
          dbg.run(function() { show_cpu();show_debugger();});
        });

        $('#stop').click( function() {
          dbg.pause();
        });
      });
    </script>
    
  </head>
  <body>
    <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix" style="height:50px">
      <div class="ui-dialog-title ui-dialog-titlebar ui-dialog">DCPU-16 Emulator</div>
    </div>
    <table style="width:100%;height:100%">
      <tr>
        <td colspan='3'>
          <button id='new'>new</button>
          <button id='save'>save</button>
          <button id='load'>load</button>
          <button id='compile'>compile</button>
          <button id='run'>run</button>
          <button id='stop'>stop</button>
          <button id='step'>step</button>
          <button id='reset'>reset</button>
          <button id='about' style='float:right'>about</button>
          <button id='settings' style='float:right' >settings</button>
        </td>
      </tr>
      <tr>
        <td width="400px" valign="top" class='code'>
          <table style="width:100%;height:100%">
            <tr valign='top' style='height:0'>
              <td><input type='text' id='source_label' style='width:100%' disabled></input></td>
            </tr>
            <tr valign="top">
              <td colspan='2'><textarea id='source' cols='80' wrap='off' style='width:100%;height:100%' disabled></textarea></td>
            </tr>
          </table>
        </td>

        <td width="450px" valign="top">
          <div id="debugger"></div>
        </td>
        <td>
          <table>
            <tr>
              <td>
                <div id="cpu"></div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <div id='load_dialog'>
      <div id='code_list'></div>
    </div>
    <div id='about_dialog'>
      Find the source here : <a href='https://github.com/whoatemydomain/js-0x10c'>github</a>
      <ul>
        <li> Finish the actual CPU functionality (Only SET,ADD and IFE works sort of) </li>
        <li> Finish loading and saving </li>
        <li> Finish ability to load to specific memory locations </li>
      </ul>
    </div>
    
    <div id='settings_dialog'>
      <table>
        <tr>
          <td>Delay between steps</td>
          <td>:<input type='text' id='settings_run_delay' style='width:50px'/> ms</td>
        </tr>
        <tr>
          <td>Load code to</td>
          <td>:<input type='text' id='settings_start_position' style='width:50px'/></td>
        </tr>
      </table>
    </div>
    
    <div id='new_dialog'>
      <table>
        <tr>
          <td>Name</td>
          <td>: <input type='text' id='new_name' style='width:150px'/> </td>
        </tr>
      </table>
    </div>

  </body>
  <script>
    dbg.run_delay = codestore.loadInt('settings','run_delay',200);
    start_position = codestore.loadInt('settings','start_position',0);
        
  
    $('body').addClass('ui-widget-content').addClass('ui-widget');
    $('#title').accordion({header:'h3'});  
    $('button').button();
    $('#load_dialog').dialog({
      autoOpen: false,
      width: 600,
      height: 300,
      modal: true,
      title : 'Load',
      buttons: {
        "Ok": function() { 
          $(this).dialog("close"); 
        }, 
        "Cancel": function() { 
          $(this).dialog("close"); 
        } 
      }
    });
    var codes = [];
    $('#load').click(function(){
      codes = codestore.findKeys('code');
      $('#code_list').html(ejs.render($('#code_list_template').html(),{codes:codes}));
      $('#load_dialog').dialog('open');
      return false;
    });
    
    $('#settings_dialog').dialog({
      autoOpen: false,
      width: 600,
      modal: true,
      title : 'Settings',
      buttons: {
        "Ok": function() { 
          $(this).dialog("close"); 
          dbg.run_delay = $('#settings_run_delay').val();
          start_position = $('#settings_start_position').val();;
          
          codestore.save('settings','run_delay',dbg.run_delay);
          codestore.save('settings','start_position',start_position);
        }, 
        "Cancel": function() { 
          $(this).dialog("close"); 
        } 
      }
    });
    $('#settings').click(function(){
      $('#settings_run_delay').val(dbg.run_delay);
      $('#settings_start_position').val(start_position);
      $('#settings_dialog').dialog('open');
      return false;
    });
    
    $('#about_dialog').dialog({
      autoOpen: false, width: 600, modal: true, title : 'About',
      buttons: { "Ok": function() { $(this).dialog("close"); }, }
    });
    $('#about').click(function(){ $('#about_dialog').dialog('open'); return false; });


    handle_code_change = function() {
      if(pending_changes) return;
      pending_changes = true;
      $('#source_label').val('*'+code_label);
    }
    
    var code_label='';
    var pending_changes=false;
    $('#new_dialog').dialog({
      autoOpen: false, width: 600, modal: true, title : 'New',
      buttons: {
        "Ok": function() { 
          $(this).dialog("close"); 
          code_label = $('#new_name').val();
          pending_changes = false;
          $('#new_name').val('');
          $('#source_label').val(code_label);
          $('#source').removeAttr('disabled');
          $('#source').val('; jsr test\n      JSR func\n      SET B,A\nfunc: SET A,0x40\n      ADD B,A\n      SET PC,POP ');
          handle_code_change();
        }, 
        "Cancel": function() { $(this).dialog("close"); } 
      }
    });
    $('#new').click(function(){ $('#new_dialog').dialog('open'); return false; });

    $('#source').change( function() {
      handle_code_change();
    });
  
    $('#source').keypress( function() {
      handle_code_change();
    });
    $('#save').click( function() {
      pending_changes = false;
      $('#source_label').val(code_label);
      codestore.save('code',code_label,$('#source').val());
    });
    
    
    
  </script>
</html>