<!DOCTYPE html>
<html>
  <head>
  <title>DCPU16 Workbench (version:dev)</title>
  
  <style type="text/css">
    .code {
      font-family: Courier New;
    }
    #source {
      font-family: Courier New;
    }
    .memory_cell {
      font-size: 0.8em;
    }
    .label {
      font-weight:bold; 
    }
    .register_label {
      font-weight:bold;
      text-align:left;
      padding :0 0 0 0;
      margin:0 0 0 10;
    }
    .register_value {
      width:40px;
      text-align:right;
      padding :0 10 0 0;
      margin:0 0 10 0;
    }
    .selected {
      background:wheat;
    }
    .current_pc {
      background:wheat;
    }

    #ribbon {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 2;
    }
	
	
			/*demo page css*/
			body{ font: 62.5% "Trebuchet MS", sans-serif; margin: 50px;}
			.demoHeaders { margin-top: 2em; }
			#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
			#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
			ul#icons {margin: 0; padding: 0;}
			ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
			ul#icons span.ui-icon {float: left; margin: 0 4px;}
		
    .memory_changed {
      background:orange;
    }
    
  </style>


    <link type="text/css" href="style/css/ui-lightness/jquery-ui-1.8.18.custom.css" rel="stylesheet" />	
    <script src="js/jquery-1.7.1.min.js"></script> 
		<script type="text/javascript" src="style/js/jquery-ui-1.8.18.custom.min.js"></script>
    <script src="js/underscore-min.js"></script> 
    <script src="js/ejs.min.js"></script>
    <script src="js/backbone-min.js"></script>
    
    <script src="lib/cpu_constants.js"></script> 
    <script src="lib/cpu.js"></script> 
    <script src="lib/assembler.js"></script> 
    <script src="lib/deassembler.js"></script> 
    <script src="lib/debugger.js"></script> 
    <script src="lib/codestore.js"></script> 
    <script src="lib/cpu_view.js"></script> 
    <script src="lib/dyno_edit.js"></script> 

    
    <script type="text/template" id="error_list_template">
      <table id='error_list' cellspacing=0 width="100%">
        <% for(var i=0;i<errors.length;i++) { %>
        <% var error = errors[i] %>
          <tr>
            <td><%= error.line %></td>
            <td><%= error.type %></td>
            <td><%= error.msg %></td>
          </tr>
        <% } %>
      </table>
    </script>


    <script type="text/template" id="code_list_template">
      <table id='code_list' cellspacing=0 width="100%">
        <% for(var i=0;i<codes.length;i++) { %>
        <tr id='<%= codes[i].key %>'>
          <td><%= codes[i].name %></td>
          <td><%= codestore.load('code',codes[i].name).split('\n')[0] %></td> 
          <td><span class="ui-icon ui-icon-close delete_code_button"></span></td>
        </tr>
        <% } %>
      </table>
    </script>
    
    <script type="text/template" id="debugger_template">
      <table id="debugger_source" class='code' cellspacing=0 width="100%">
        <% for(var i=0;i<lines.length;i++) { %>
        <tr id='<%= i %>'>
          <td width="20px" class='breakpoint' id='<%= lines[i].mem_pos %>'>
            <% if(breakpoints.indexOf(lines[i].mem_pos)!=-1) { %>
              <span class='ui-icon ui-icon-star'/>
            <% } else { %>
              <span/>
            <% } %>
          </td>
          <td width="0%"><%= zero_fill(lines[i].mem_pos.toString(16),4) %>:</td>
          <td><%= lines[i].txt %></td>
          <td>
            <% for(var j=0;j<lines[i].byte_code.length;j++) { %> <%= zero_fill(lines[i].byte_code[j].toString(16),4) %>  <% } %>
          </td>
        </tr>
        <% } %>
      </table>
    </script>
    
    <script type="text/template" id="cpu_template">
      <table>
        <tr>
          <td class="register_label">PC:</td><td class="register_value dyno_register" id="PC"><%= zero_fill(cpu.pc.toString(16),4) %></td>
          <td class="register_label">SP:</td><td class="register_value"><%= zero_fill(cpu.sp.toString(16),4) %></td>
          <td class="register_label">Cycle:</td><td class="register_value"><%= zero_fill(cpu.cycle,4) %></td>
        </tr>
        <tr>
          <td class="register_label">A:</td><td class="register_value"><%= zero_fill(cpu.registers.A.toString(16),4) %></td>
          <td class="register_label">B:</td><td class="register_value"><%= zero_fill(cpu.registers.B.toString(16),4) %></td>
          <td class="register_label">C:</td><td class="register_value"><%= zero_fill(cpu.registers.C.toString(16),4) %></td>
        </tr>
        <tr>
          <td class="register_label">X:</td><td class="register_value"><%= zero_fill(cpu.registers.X.toString(16),4) %></td>
          <td class="register_label">Y:</td><td class="register_value"><%= zero_fill(cpu.registers.Y.toString(16),4) %></td>
          <td class="register_label">Z:</td><td class="register_value"><%= zero_fill(cpu.registers.Z.toString(16),4) %></td>
        </tr>
        <tr>
          <td class="register_label">I:</td><td class="register_value"><%= zero_fill(cpu.registers.I.toString(16),4) %></td>
          <td class="register_label">J:</td><td class="register_value"><%= zero_fill(cpu.registers.J.toString(16),4) %></td>
          <td></td>
        </tr>
      </table>
      <table id="memory">
        <tr>
          <td colspan='9'><input id='memory_offset'/></td>
        </td>
        <% for(var r=0;r<20;r++) { %>
        <tr>
          <td class='memory_cell label'><%= zero_fill((r*8).toString(16),4) %>:</td>
          <% for(var c=0;c<8;c++) { %>
            <% var cur_index = (r*8)+c %>
            <% if(cur_index == cpu.pc) { %>
              <td id='<%= cur_index %>' class='memory_cell current_pc'><%= zero_fill(cpu.memory[cur_index].toString(16),4) %></td>
            <% } else { %>
              <td id='<%= cur_index %>' class='memory_cell'><%= zero_fill(cpu.memory[cur_index].toString(16),4) %></td>
            <% } %>
          <% } %>
        </tr>
        <% } %>
      </table>
    </script>
    
    <script>
      var dbg = new Debugger();
      var start_position = 0;
      
      
      var show_debugger = function() {
        if(dbg.assembly.errors.length>0) {
          $('#debugger').html(ejs.render($('#error_list_template').html(),{errors:dbg.assembly.errors}));          
        } else {
          $('#debugger').html(ejs.render($('#debugger_template').html(),{lines:dbg.deassembly.lines,breakpoints:dbg.breakpoints}));
          $('#debugger_source').find('tr#'+dbg.current_line).css('backgroundColor', 'wheat');
          $('td.breakpoint').click( function() {
            $(this).children('span').toggleClass('ui-icon').toggleClass('ui-icon-star');
            dbg.toggle_breakpoint(this.id);
          });
        }

        $('.dyno_register').click(dyno(function(id,val) { 
          if(id == 'PC') 
            dbg.cpu.pc = parseInt(val);
          else
            dbg.cpu.registers[id] = parseInt(val);
          
          show_cpu();
          show_debugger();
        }));

        
      };
   
      $( function() {
        show_cpu();
        
        $('#step').click( function() {
          dbg.step();
          show_cpu();
          show_debugger();
        });

        $('#reset').click( function() {
          dbg.reset();
          show_cpu();
          show_debugger();  
        });
        
        $('#compile').click( function() {
          dbg.load(start_position,$('#source').val());
          show_cpu();
          show_debugger();
        });

        $('#run').click( function() {
          dbg.run(function() { show_cpu();show_debugger();});
        });

        $('#stop').click( function() {
          dbg.pause();
        });
      });
    </script>
 
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29004947-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
 
  </head>
  <body>
    <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
  


  <a href="http://github.com/whoatemydomain/js-dcpu16_workbench"> 
		  <img alt="Fork me on GitHub" id="ribbon" src="http://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"> 
		</a>
  
    <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix" style="height:50px">
      <div class="ui-dialog-title ui-dialog-titlebar ui-dialog">DCPU-16 Workbench (version:dev)</div>
    </div>
    <table style="width:100%;height:100%">
      <tr>
        <td colspan='3' style='padding-right:100px'>
          <button id='new'>new</button>
          <button id='save'>save</button>
          <button id='saveas'>save as</button>
          <button id='load'>load</button>
          <button id='compile'>compile</button>
          <button id='run'>run</button>
          <button id='stop'>stop</button>
          <button id='step'>step</button>
          <button id='reset'>reset</button>
          <button id='about' style='float:right'>help about</button>
          <button id='settings' style='float:right' >settings</button>
        </td>
      </tr>
      <tr>
        <td width="50%" valign="top" class='code'>
          <table style="width:100%;height:100%">
            <tr valign='top' style='height:0'>
              <td><input type='text' id='source_label' style='width:100%' disabled></input></td>
            </tr>
            <tr valign="top">
              <td colspan='2'><textarea id='source' cols='80' wrap='off' style='width:100%;height:100%' class='CodeMirror-scroll cm-s-default'  disabled></textarea></td>
            </tr>
          </table>
        </td>

        <td width="50%" valign="top">
          <div id="debugger"></div>
        </td>
        <td align="right">
          <table>
            <tr>
              <td>
                <div id="cpu"></div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr> <td>
        <div class="fb-like" data-href="http://dcpu16_workbench.whoatemydomain.co.za//" data-send="true" data-width="450" data-show-faces="false"></div>
      </td></tr>
    </table>

    <div id='load_dialog'>
      <div id='code_list'></div>
    </div>
    <div id='about_dialog'>
	  <p>
        <a href='https://github.com/whoatemydomain/js-dcpu16_workbench' target='_blank' id="dialog_link" class="ui-state-default ui-corner-all">
	      <span class="ui-icon ui-icon-newwin"></span>Source at GitHub</a>
        <a href='https://github.com/whoatemydomain/js-dcpu16_workbench/wiki/Quick-Start' target='_blank' id="dialog_link" class="ui-state-default ui-corner-all">
		  <span class="ui-icon ui-icon-newwin"></span>Quick Start</a>
        <a href='https://github.com/whoatemydomain/js-dcpu16_workbench/issues' target='_blank' id="dialog_link" class="ui-state-default ui-corner-all">
		  <span class="ui-icon ui-icon-newwin"></span>Issues</a>
      </p>
	
    </div>
    
    <div id='settings_dialog'>
      <table>
        <tr>
          <td>Delay between steps</td>
          <td>:<input type='text' id='settings_run_delay' style='width:50px'/> ms</td>
        </tr>
        <tr>
          <td>Load code to</td>
          <td>:<input type='text' id='settings_start_position' style='width:50px'/></td>
        </tr>
      </table>
    </div>
    
    <div id='new_dialog'>
      <table>
        <tr>
          <td>Name</td>
          <td>: <input type='text' id='new_name' style='width:150px'/> </td>
        </tr>
      </table>
    </div>

    <div id='saveas_dialog'>
      <table>
        <tr>
          <td>Name</td>
          <td>: <input type='text' id='saveas_name' style='width:150px'/> </td>
        </tr>
      </table>
    </div>

    
  </body>
  <script>
    dbg.run_delay = codestore.loadInt('settings','run_delay',200);
    start_position = codestore.loadInt('settings','start_position',0);
        
  
    $('body').addClass('ui-widget-content').addClass('ui-widget');
    $('#title').accordion({header:'h3'});  
    $('button').button();
    $('#load_dialog').dialog({
      autoOpen: false,
      width: 600,
      height: 300,
      modal: true,
      title : 'load',
      buttons: {
        "ok": function() { 
          var key = $('#code_list').find('.selected').attr('id');
          if(typeof(key) != 'undefined') { 
            var keyParts = codestore.splitKey(key);
            code_label = keyParts.key;  
            $('#source').val(codestore.load(keyParts.table,keyParts.key,''));
            $('#source').removeAttr('disabled');
            pending_changes = false;
            $('#source_label').val(code_label);
          }
          $(this).dialog("close"); 
        }, 
        "cancel": function() { 
          $(this).dialog("close"); 
        } 
      }
    });
    var codes = [];
    $('#load').click(function() {
      codes = codestore.findKeys('code');
      $('#code_list').html(ejs.render($('#code_list_template').html(),{codes:codes}));
      $('#code_list').find('tr').click(function() { 
        $('#code_list').find('tr').removeClass('selected');
        $(this).toggleClass('selected'); 
      });
      $('.delete_code_button').click(function() { 
        $('#code_list').find('tr').removeClass('selected');
        var key = $(this).parent().parent().attr('id');
        var keyParts = codestore.splitKey(key);
        codestore.delete(key);
        $(this).parent().parent().remove();
        if(keyParts.key == code_label) {
          pending_changes = true;
          handle_code_changes();
        }
      });

      $('#load_dialog').dialog('open');
      return false;
    });
    
    $('#settings_dialog').dialog({
      autoOpen: false,
      width: 600,
      modal: true,
      title : 'settings',
      buttons: {
        "ok": function() { 
          $(this).dialog("close"); 
          dbg.run_delay = $('#settings_run_delay').val();
          start_position = $('#settings_start_position').val();;
          
          codestore.save('settings','run_delay',dbg.run_delay);
          codestore.save('settings','start_position',start_position);
        }, 
        "cancel": function() { 
          $(this).dialog("close"); 
        } 
      }
    });
    $('#settings').click(function(){
      $('#settings_run_delay').val(dbg.run_delay);
      $('#settings_start_position').val(start_position);
      $('#settings_dialog').dialog('open');
      return false;
    });
    
    $('#about_dialog').dialog({
      autoOpen: false, width: 600, modal: true, title : 'help about',
      buttons: { "ok": function() { $(this).dialog("close"); }, }
    });
    $('#about').click(function(){ $('#about_dialog').dialog('open'); return false; });


    handle_code_change = function() {
      if(pending_changes) return;
      pending_changes = true;
      $('#source_label').val('*'+code_label);
    }
    
    var code_label='';
    var pending_changes=false;
    $('#new_dialog').dialog({
      autoOpen: false, width: 600, modal: true, title : 'new',
      buttons: {
        "ok": function() { 
          $(this).dialog("close"); 
          code_label = $('#new_name').val();
          pending_changes = false;
          $('#new_name').val('');
          $('#source_label').val(code_label);
          $('#source').removeAttr('disabled');
          $('#source').val('');
          handle_code_change();
        }, 
        "cancel": function() { $(this).dialog("close"); } 
      }
    });
    $('#new').click(function(){ $('#new_dialog').dialog('open'); return false; });

    $('#saveas_dialog').dialog({
      autoOpen: false, width: 600, modal: true, title : 'Save As',
      buttons: {
        "ok": function() { 
          $(this).dialog("close"); 
          code_label = $('#saveas_name').val();
          pending_changes = true;
          $('#saveas_name').val('');
          $('#source_label').val(code_label);
          codestore.save('code',code_label,$('#source').val());
          handle_code_change();
        }, 
        "cancel": function() { $(this).dialog("close"); } 
      }
    });
    $('#saveas').click(function(){ $('#saveas_dialog').dialog('open'); return false; });

    
    
    $('#source').change( function() {
      handle_code_change();
    });
  
    $('#source').keypress( function() {
      handle_code_change();
    });
    $('#save').click( function() {
      pending_changes = false;
      $('#source_label').val(code_label);
      codestore.save('code',code_label,$('#source').val());
    });
    $('#source').keydown( function(e) {
      if(e.keyCode === 9) { // tab was pressed
        // get caret position/selection
        var start = this.selectionStart;
            end = this.selectionEnd;

        var $this = $(this);

        // set textarea value to: text before caret + tab + text after caret
        $this.val($this.val().substring(0, start)
                    + "\t"
                    + $this.val().substring(end));

        // put caret at right position again
        this.selectionStart = this.selectionEnd = start + 1;

        // prevent the focus lose
        return false;
    }
    });
    
    
    
  </script>
</html>