<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>DCPU16 Workbench2 (version:dev)</title>
 		<link type="text/css" href="style/css/ui-lightness/jquery-ui-1.8.18.custom.css" rel="stylesheet" />	
    <link type="text/css" href="style/css/style.css" rel="stylesheet" />	
		<link type="text/css" href="js/codemirror/codemirror.css" rel="stylesheet" />	
    <script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="style/js/jquery-ui-1.8.18.custom.min.js"></script>
    <script src="js/underscore-min.js"></script> 
    <script src="js/ejs.min.js"></script>
    <script src="js/backbone-min.js"></script>
    
    <script src="js/codemirror/codemirror.js"></script>
    <script src="js/codemirror/dcpu_mode.js"></script>
    
    
    <script src="lib/cpu_constants.js"></script> 
    <script src="lib/cpu.js"></script> 
    <script src="lib/assembler.js"></script> 
    <script src="lib/deassembler.js"></script> 
    <script src="lib/debugger.js"></script> 
    <script src="lib/codestore.js"></script> 
    <script src="lib/screen.js"></script> 

    <script src="lib/dyno_edit.js"></script> 
    <script src="lib/workbench.js"></script> 
    
    <script>
      var ejs = require('ejs');
      var cpu;
      var dbg;
      var main_screen,preview_screen;
      var start_position;
      var editor;
      var code_label='new';
      var pending_changes=true;
      var unnamed_code=true;
      
      
      zero_fill = function( number, width ) {
        width -= number.toString().length;
        if ( width > 0 )
        {
          return new Array( width + (/\./.test( number ) ? 2 : 1) ).join( '0' ) + number;
        }
        return number;
      }  

      show_cpu = function() {
        $('#cpu').html(ejs.render($('#cpu_template').html(),{cpu:dbg.cpu,memory_offset:0x9000}));
        for(var i=0;i<dbg.cpu.memory_changes.length;i++) {
          $('#memory').find('#'+dbg.cpu.memory_changes[i]+'.memory_cell').addClass('memory_changed');
        }
      }

      show_debugger = function() {
        if(dbg.assembly.errors.length>0) {
          $('#errors').html(ejs.render($('#error_list_template').html(),{errors:dbg.assembly.errors}));          
          $('#debugger').html($('#errors').html());          
          
          $('.error_line').dblclick(function() { 
            editor.focus();
            editor.setCursor(this.id-1);
          });

        } else {
          $('#errors').html('Code OK');
          $('#debugger').html(ejs.render($('#debugger_template').html(),{lines:dbg.deassembly.lines,breakpoints:dbg.breakpoints}));
          $('#debugger_source').find('tr#'+dbg.current_line).css('backgroundColor', 'wheat');
          $('td.breakpoint').click( function() {
            $(this).children('span').toggleClass('ui-icon').toggleClass('ui-icon-star');
            dbg.toggle_breakpoint(this.id);
          });
        }
      }
     
      handle_editor_changes = function() {
        handle_code_changes();
        dbg.load(start_position,editor.getValue());
        load_font();
        show_cpu();
        show_debugger();
      }

      handle_code_changes = function() {
        if(pending_changes) return;
        pending_changes = true;
        $('#editor_tab_tab').html('*'+code_label);
      }
      
    $(function() {
      cpu = new CPU()
      dbg = new Debugger(cpu);
      preview_screen = new Screen(cpu,$('#preview_screen')[0],2);
      main_screen = new Screen(cpu,$('#main_screen')[0],5);
      start_position = 0;
      cpu.on_memory_change(0x8000,0x8180,function(pos) { main_screen.update(pos); preview_screen.update(pos); } );
      
      editor = CodeMirror.fromTextArea(document.getElementById("source"), {
        lineNumbers: true,
        tabSize: 2,
        indentUnit: 2,
        indentWithTabs: true,
        tabMode : "spaces",
        mode: "dcpu",
        onChange : handle_editor_changes,
        height: "100%"
      });

      $('#editor_tab_tab').html('*'+code_label);
      
      dbg.run_delay = codestore.loadInt('settings','run_delay',200);
      start_position = codestore.loadInt('settings','start_position',0);
      
      show_cpu();
      main_screen.refresh();
      preview_screen.refresh();

      $('#tabs').tabs();
      $('button').button();
      
      $('.dyno_register').click(dyno(function(id,val) { 
        if(id == 'PC') 
          dbg.cpu.pc = parseInt(val);
        else
          dbg.cpu.registers[id] = parseInt(val);
        
        show_cpu();
        show_debugger();
      }));
      
      $('#debug-step').click( function() {
        dbg.step();
        show_cpu();
        show_debugger();
        preview_screen.refresh();
      });

      $('#debug-reset').click( function() {
        dbg.reset();
        load_font();  
        show_cpu();
        show_debugger();
        preview_screen.refresh();
      });

      $('#output-reset').click( function() {
        dbg.reset();
        load_font();
        show_cpu();
        show_debugger();
        main_screen.refresh();
      });

      
      
      $('#reset').click( function() {
        dbg.reset();
        load_font();
        main_screen.refresh();
      });
      
      var handle_key = function(key) {
        var mem_pos = cpu.get_memory(0x9010);
        if(mem_pos==0x900f) {
          mem_pos=0x9000;
        } 
        if( cpu.get_memory(mem_pos) == 0) {
          cpu.set_memory(mem_pos,key);
          cpu.set_memory(0x9010,++mem_pos);
        }
      }

      $('#run, #output-run, #debug-run').click( function() {
        if(this.id=='run')
          $('#output_tab_tab').click();
        $('body').keypress(function(e) { handle_key(e.which); return false;});
        $('body').keydown(function(e) {
          var handledKeys = [8,32,37,38,39,40];
          if(handledKeys.indexOf(e.which) !== -1) {
            handle_key(e.which);    
            return false;
          }
        });
        dbg.run(function() { show_cpu(); },1,500);
      });

      $('#stop, #output-stop, #debug-pause').click( function() {
        dbg.pause();
        $('body').unbind('keypress',null);
        $('body').unbind('keydown',null);
        show_cpu();
        show_debugger();
      });
      
      $('#load_dialog').dialog({
        autoOpen: false,
        width: 600,
        height: 300,
        modal: true,
        title : 'load',
        buttons: {
          "ok": function() { 
            var key = $('#code_list').find('.selected').attr('id');
            if(typeof(key) != 'undefined') { 
              var keyParts = codestore.splitKey(key);
              code_label = keyParts.key;  
              editor.setValue(codestore.load(keyParts.table,keyParts.key,''));
              $('#source').removeAttr('disabled');
              pending_changes = false;
              $('#editor_tab_tab').html(code_label);
              unnamed_code = false;
            }
            $(this).dialog("close"); 
          }, 
          "cancel": function() { 
            $(this).dialog("close"); 
          } 
        }
      });

      var codes = [];
      $('#load').click(function() {
        codes = codestore.findKeys('code');
        $('#code_list').html(ejs.render($('#code_list_template').html(),{codes:codes}));
        $('#code_list').find('tr').click(function() { 
          $('#code_list').find('tr').removeClass('selected');
          $(this).toggleClass('selected'); 
        });
        $('.delete_code_button').click(function() { 
          $('#code_list').find('tr').removeClass('selected');
          var key = $(this).parent().parent().attr('id');
          var keyParts = codestore.splitKey(key);
          codestore.delete(key);
          $(this).parent().parent().remove();
          if(keyParts.key == code_label) {
            pending_changes = true;
            handle_code_changes();
          }
        });

        $('#load_dialog').dialog('open');
          return false;
      });
    
      $('#settings_dialog').dialog({
        autoOpen: false,
        width: 600,
        modal: true,
        title : 'settings',
        buttons: {
          "ok": function() { 
            $(this).dialog("close"); 
            dbg.run_delay = $('#settings_run_delay').val();
            start_position = $('#settings_start_position').val();;
            
            codestore.save('settings','run_delay',dbg.run_delay);
            codestore.save('settings','start_position',start_position);
          }, 
          "cancel": function() { 
            $(this).dialog("close"); 
          } 
        }
      });

      $('#settings').click(function(){
        $('#settings_run_delay').val(dbg.run_delay);
        $('#settings_start_position').val(start_position);
        $('#settings_dialog').dialog('open');
        return false;
      });
    
      $('#about_dialog').dialog({
        autoOpen: false, width: 600, modal: true, title : 'help about',
        buttons: { "ok": function() { $(this).dialog("close"); }, }
      });

      $('#about').click(function(){ $('#about_dialog').dialog('open'); return false; });

      $('#new').click(function() { 
        unnamed_code = true
        code_label = 'new';
        pending_changes = false;
        editor.setValue('');
      });

      $('#saveas_dialog').dialog({
        autoOpen: false, width: 600, modal: true, title : 'Save As',
        buttons: {
          "ok": function() { 
            $(this).dialog("close"); 
            code_label = $('#saveas_name').val();
            pending_changes = true;
            $('#saveas_name').val('');
            $('#editor_tab_tab').html(code_label);
            unnamed_code = false;
            codestore.save('code',code_label,editor.getValue());
            handle_code_changes();
          }, 
          "cancel": function() { $(this).dialog("close"); } 
        }
      });
      $('#saveas').click(function(){ $('#saveas_dialog').dialog('open'); return false; });

      $('#save').click( function() {
        if(unnamed_code) {
          $('#saveas_dialog').dialog('open');
        } else {
          pending_changes = false;
          $('#editor_tab_tab').html(code_label);
          codestore.save('code',code_label,editor.getValue());
        }
      });
      
      load_font();
      
    });
  </script>
  
    <script type="text/template" id="error_list_template">
      <table id='error_list' cellspacing=0 width="100%">
        <% for(var i=0;i<errors.length;i++) { %>
        <% var error = errors[i] %>
          <tr id='<%= error.line %>'  class='error_line'>
            <td><%= error.line %></td>
            <td><%= error.type %></td>
            <td><%= error.msg %></td>
          </tr>
        <% } %>
      </table>
    </script>

    <script type="text/template" id="code_list_template">
      <table id='code_list' cellspacing=0 width="100%">
        <% for(var i=0;i<codes.length;i++) { %>
        <tr id='<%= codes[i].key %>'>
          <td><%= codes[i].name %></td>
          <td><%= codestore.load('code',codes[i].name).split('\n')[0] %></td> 
          <td><span class="ui-icon ui-icon-close delete_code_button"></span></td>
        </tr>
        <% } %>
      </table>
    </script>
    
    <script type="text/template" id="debugger_template">
      <table id="debugger_source" class='code' cellspacing=0 width="100%">
        <% for(var i=0;i<lines.length;i++) { %>
        <tr id='<%= i %>'>
          <td width="20px" class='breakpoint' id='<%= lines[i].mem_pos %>'>
            <% if(breakpoints.indexOf(lines[i].mem_pos)!=-1) { %>
              <span class='ui-icon ui-icon-star'/>
            <% } else { %>
              <span/>
            <% } %>
          </td>
          <td width="0%"><%= zero_fill(lines[i].mem_pos.toString(16),4) %>:</td>
          <td><%= lines[i].txt %></td>
          <td>
            <% for(var j=0;j<lines[i].byte_code.length;j++) { %> <%= zero_fill(lines[i].byte_code[j].toString(16),4) %>  <% } %>
          </td>
        </tr>
        <% } %>
      </table>
    </script>
    
    <script type="text/template" id="cpu_template">
      <table>
        <tr>
          <td class="register_label">PC:</td><td class="register_value dyno_register" id="PC"><%= zero_fill(cpu.pc.toString(16),4) %></td>
          <td class="register_label">SP:</td><td class="register_value"><%= zero_fill(cpu.sp.toString(16),4) %></td>
          <td class="register_label">Cycle:</td><td class="register_value"><%= zero_fill(cpu.cycle,4) %></td>
        </tr>
        <tr>
          <td class="register_label">A:</td><td class="register_value"><%= zero_fill(cpu.registers.A.toString(16),4) %></td>
          <td class="register_label">B:</td><td class="register_value"><%= zero_fill(cpu.registers.B.toString(16),4) %></td>
          <td class="register_label">C:</td><td class="register_value"><%= zero_fill(cpu.registers.C.toString(16),4) %></td>
        </tr>
        <tr>
          <td class="register_label">X:</td><td class="register_value"><%= zero_fill(cpu.registers.X.toString(16),4) %></td>
          <td class="register_label">Y:</td><td class="register_value"><%= zero_fill(cpu.registers.Y.toString(16),4) %></td>
          <td class="register_label">Z:</td><td class="register_value"><%= zero_fill(cpu.registers.Z.toString(16),4) %></td>
        </tr>
        <tr>
          <td class="register_label">I:</td><td class="register_value"><%= zero_fill(cpu.registers.I.toString(16),4) %></td>
          <td class="register_label">J:</td><td class="register_value"><%= zero_fill(cpu.registers.J.toString(16),4) %></td>
          <td></td>
        </tr>
      </table>
      <table id="memory">
        <tr>
          <td colspan='9'><input id='memory_offset'/></td>
        </td>
        <% for(var r=0;r<80;r++) { %>
        <tr>
          <td class='memory_cell label'><%= zero_fill(((r*8)+parseInt(memory_offset)).toString(16),4) %>:</td>
          <% for(var c=0;c<8;c++) { %>
            <% var cur_index = (r*8)+c + parseInt(memory_offset) %>
            <% if(cur_index == cpu.pc) { %>
              <td id='<%= cur_index %>' class='memory_cell current_pc'><%= zero_fill(cpu.get_memory(cur_index).toString(16),4) %></td>
            <% } else { %>
              <td id='<%= cur_index %>' class='memory_cell'><%= zero_fill(cpu.get_memory(cur_index).toString(16),4) %></td>
            <% } %>
          <% } %>
        </tr>
        <% } %> 
      </table>
    </script>

 
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29004947-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  
  </head>
  <body>
    <canvas id="fontCanvas" width="420" height="324" style="display:none"></canvas>
    <h1>DCPU-16 Workbench (version:dev)</h1>
    <a href="http://github.com/whoatemydomain/js-dcpu16_workbench"> 
		  <img alt="Fork me on GitHub" id="ribbon" src="http://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"> 
		</a>
  
    <p>
      <a href="#" id="settings"  class="dialog_link ui-state-default ui-corner-all"><span class="ui-icon ui-icon-gear"></span>settings</a>
      <a href="#" id="about"  class="dialog_link ui-state-default ui-corner-all"><span class="ui-icon ui-icon-help"></span>about</a>
    </p>

 		<div id="tabs">
			<ul>
				<li><a href="#editor_tab" id="editor_tab_tab">editor</a></li>
				<li><a href="#debugger_tab" id="debugger_tab_tab">debugger</a></li>
        <li><a href="#output_tab" id="output_tab_tab">output</a></li>
			</ul>
			<div id="editor_tab">
        <p>
          <a href="#" id="new" class="dialog_link ui-state-default ui-corner-all"><span class="ui-icon ui-icon-newwin"></span>new</a>
          <a href="#" id="save" class="dialog_link ui-state-default ui-corner-all"><span class="ui-icon ui-icon-newwin"></span>save</a>
          <a href="#" id="saveas" class="dialog_link ui-state-default ui-corner-all"><span class="ui-icon ui-icon-newwin"></span>save as</a>
          <a href="#" id="load" class="dialog_link ui-state-default ui-corner-all"><span class="ui-icon ui-icon-newwin"></span>load</a>
          <a href="#" id="run" class="dialog_link ui-state-default ui-corner-all"><span class="ui-icon ui-icon-play"></span>run</a>
        </p>
        <table style='width:100%;height:100%' id="editor-table">
          <tr valign='top'>
            <td style='height:100%'><textarea id='source' cols='80' wrap='off' style='width:100%;height:100%' class='CodeMirror-scroll cm-s-default'></textarea></td>
            <td style='width:20px' valign='center'><span class="ui-icon ui-icon-grip-dotted-vertical"></span></td>
            <td style='width:40%' id='errors'>Errorrs here</td>
          </tr>
        </table>
      </div>
			<div id="debugger_tab">
        <p>
          <a href="#" id="debug-run" class="dialog_link ui-state-default ui-corner-all"><span class="ui-icon ui-icon-wrench"></span>run</a>
          <a href="#" id="debug-pause" class="dialog_link ui-state-default ui-corner-all"><span class="ui-icon ui-icon-pause"></span>pause</a>
          <a href="#" id="debug-step" class="dialog_link ui-state-default ui-corner-all"><span class="ui-icon ui-icon-seek-next"></span>step</a>
          <a href="#" id="debug-reset" class="dialog_link ui-state-default ui-corner-all"><span class="ui-icon ui-icon-refresh"></span>reset</a>
        </p>
        <table style="width:100%;height:100%">
          <td width="50%" valign="top">
            <div id="debugger"></div>
          </td>
          <td align="right" valign="top">
            <table>
              <tr>
                <td>
                  <canvas id="preview_screen" width="256" height="96"></canvas>
                </td>
              </tr>
              <tr>
                <td>
                  <div id="cpu"></div>
                </td>
              </tr>
            </table>
          </td>
        </table>
      </div>
      <div id="output_tab">
        <p>
          <a href="#" id="output-run" class="dialog_link ui-state-default ui-corner-all"><span class="ui-icon ui-icon-play"></span>run</a>
          <a href="#" id="output-stop" class="dialog_link ui-state-default ui-corner-all"><span class="ui-icon ui-icon-pause"></span>stop</a>
          <a href="#" id="output-reset" class="dialog_link ui-state-default ui-corner-all"><span class="ui-icon ui-icon-refresh"></span>reset</a>
        </p>
        <table>
          <tr>
            <td valign="center">
              <canvas id="main_screen" width="420" height="320"></canvas>
            </td>
          </tr>
        </table>
      </div>
		</div>
    <div class="fb-like" data-href="http://dcpu16_workbench.whoatemydomain.co.za//" data-send="true" data-width="450" data-show-faces="false"></div>


    <div id='load_dialog'>
      <div id='code_list'></div>
    </div>
    <div id='about_dialog'>
	  <p>
        <a href='https://github.com/whoatemydomain/js-dcpu16_workbench' target='_blank' class="dialog_link ui-state-default ui-corner-all">
	      <span class="ui-icon ui-icon-newwin"></span>Source at GitHub</a>
        <a href='https://github.com/whoatemydomain/js-dcpu16_workbench/wiki/Quick-Start' target='_blank' class="dialog_link ui-state-default ui-corner-all">
		  <span class="ui-icon ui-icon-newwin"></span>Quick Start</a>
        <a href='https://github.com/whoatemydomain/js-dcpu16_workbench/issues' target='_blank' class="dialog_link ui-state-default ui-corner-all">
		  <span class="ui-icon ui-icon-newwin"></span>Issues</a>
      </p>
	
    </div>
    
    <div id='settings_dialog'>
      <table>
        <tr>
          <td>Delay between steps</td>
          <td>:<input type='text' id='settings_run_delay' style='width:50px'/> ms</td>
        </tr>
        <tr>
          <td>Load code to</td>
          <td>:<input type='text' id='settings_start_position' style='width:50px'/></td>
        </tr>
      </table>
    </div>
    
    <div id='saveas_dialog'>
      <table>
        <tr>
          <td>Name</td>
          <td>: <input type='text' id='saveas_name' style='width:150px'/> </td>
        </tr>
      </table>
    </div>
    
  </body>
  

</html>
  